# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# VENV
# =========================
venv/
.venv/
env/
ENV/

# =========================
# ENV VARIABLES
# =========================
.env

# =========================
# PYTEST
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# LOGS
# =========================
*.log

# =========================
# DATABASES LOCAIS
# =========================
*.sqlite3
*.db

# =========================
# BUILD / CACHE
# =========================
build/
dist/
*.egg-info/

# =========================
# MYPY / TYPE CHECK
# =========================
.mypy_cache/

# =========================
# UVICORN / FASTAPI
# =========================
*.pid

# =========================
# CSVs SENSÍVEIS (opcional)
# =========================
# products.csv